<section class="hero">
    <div class="hero__container">
        <div class="hero__container-bg">
            <img class="hero__bg-pic" src="./images/icehero.png">
      </div>
      <div class="hero__left-container">
        <h1 class="hero__titel">ice cream<br /> made with<br /><span class="hero__titel--color">passion</span></h1>
        <div class="hero__container-btn">
        <button class="hero__container-btn-wrap">Products</button>
        <button class="hero__container-btn-wrap hero__container-btn-wrap--color">How it's made?</button>
        </div>
        </div>
        <div class="hero__wrapper-pics">
          <img class="hero__pic" src="./images/milk.png" width="150" height="190" alt="milk">
          <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <span class="hero__description-wrap"><button class="hero__description-wrap-btn" type="button"></button></span>  
        </div>
      <div class="hero__right-container">
        <div class="hero__stories">
            16
        <div class="hero__stories-cloud"></div>
        <div class="hero__stories">
            23
        <div class="hero__stories-cloud"></div>
          <img class="hero__left-container-pic" src="./images/tasty.png" width="290" height="230">
      </div>
      </div>
    </div>
  </section>